<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thiết bị thông minh</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    
    <div class="container">
       
        <header>
            <img src="img/ngocanlogo.png" alt="">
        </header>
		    <a href="{{'dangky'}}">Đăng ký</a><br>
            <a href="{{'dangnhap'}}">Đăng nhập</a>
        <nav>
            <a href="#">Trang chủ</a>
            <a href="">Sản phẩm</a>
            <a href="#">Liên hệ</a>
            <a href="#">Địa chỉ</a>
            <a href="#">Thông tin</a>
            <a href="#">Tin tức</a>
        </nav>
        <main>
            <h1>Cửa hàng thiết bị thông minh</h1>
            <p style="color:rgb(43, 226, 171)">NgocAnSmart chuyên cung cấp, triển khai các thiết bị gia dụng thông minh uy tín và chất lượng tại Đà Nẵng.</p>
            <p style="color:rgb(43, 226, 171)">Với đội ngũ kỹ sư có kinh nghiệm, cung cấp các giải pháp chất lượng cao cho khách hàng</p>
            <a href="https://www.facebook.com/">Facebook</a>
        
        </main>
        <section class="sanpham">
            <div class="hinh1">
                
            </div>
            <div class="hinh2">
                
            </div>
            <div class="hinh3">
                
            </div>
        </section>
        <section class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.4089630481676!2d108.165967514874!3d16.04425404436834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142196aec93d66d%3A0x7468c340e110da24!2zNjYgxJBvw6BuIFbEg24gQ-G7qywgSG_DoCBBbiwgTGnDqm4gQ2hp4buDdSwgxJDDoCBO4bq1bmcsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1656496700499!5m2!1sen!2s" width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <footer>
            <div>
                <p>CÔNG TY TNHH CÔNG NGHỆ NGỌC AN</p>
                <p>Địa chỉ: 66 Đoàn Văn Cừ, Hòa Minh, Liên Chiểu, Đà Nẵng</p>
                <p>SĐT: 0986790087</p>
                <p>Email: quyetnx2@gmail.com</p>
            </div>

        </footer>
    </div>

</body>

</html>